:root{
    --size : 16;
}

*{
    margin:0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid #000;
}

.container div {
    flex: 0 0 calc(100% / var(--size));
    aspect-ratio: 1 / 1;
}