*{
    margin:0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid #000;
}

.container div {
    flex: 0 0 calc(100% / 17);
    aspect-ratio: 1 / 1;
    border: 1px solid #ddd;
}